<!-- src/app/features/programs/components/piece-details/piece-details.component.html -->
<div *ngIf="material$ | async as material">
    <h3>{{ material.name }}</h3>
    <table>
      <thead>
        <tr>
          <th>Temperature</th>
          <th>Masse Volumique</th>
          <th>Coeff Poisson</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let temp of material.masseVolumique[0].data[0].Temperature">
          <td>{{ temp }}</td>
          <td>{{ material.masseVolumique[0].data[1].Densite[material.masseVolumique[0].data[0].Temperature.indexOf(temp)] }}</td>
          <td>{{ material.coeffPoisson[0].data[1].nuX[material.coeffPoisson[0].data[0].Temperature.indexOf(temp)] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  