<div *ngIf="selectedProgram$ | async as selectedProgram">
    <div *ngIf="selectedMaterial$ | async as material; else noMaterial">
      <h2>{{material.name}}</h2>
      <table>
        <thead>
          <tr>
            <th>Temperature</th>
            <th>Density</th>
            <th>Poisson's Ratio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tempData of getSortedTemperatureData(material)">
            <td>{{ tempData.temperature }}</td>
            <td>{{ tempData.density??'N/A' }}</td>
            <td>{{ tempData.poisson??'N/A' }}</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>Temperature</th>
            <th>Density</th>
            <th>Poisson's Ratio</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span *ngFor="let tempData of getSortedTemperatureDataLines(material).temperatures">    {{tempData}},</span>
         
            </td>
            <td>
              <span *ngFor="let densData of getSortedTemperatureDataLines(material).densities">    {{densData}},</span>
         
            </td>
            <td>
              <span *ngFor="let poisData of getSortedTemperatureDataLines(material).poissons">    {{poisData}},</span>
         
            </td>
          </tr>
        </tbody>
      </table>
      <app-density-chart [material]="material"></app-density-chart>
    </div>
    <ng-template #noMaterial>
      <p *ngIf="selectedProgram && !material">No data for this article</p>
    </ng-template>
  </div>
  