<div *ngIf="selectedProgram$ | async as selectedProgram">
  <div *ngIf="selectedMaterial$ | async as material; else noMaterial">
    <div class="header">
      <h2>Matiére : {{ material.name }}</h2>
      <div class="display-selector">
        <select [value]="displayMode" (change)="onDisplayModeChange($event)">
          <option value="lines">Affichage en lignes</option>
          <option value="table">Affichage en tableau</option>
          <option value="chart">Affichage en graphique</option>
        </select>
      </div>
    </div>

    <div [ngSwitch]="displayMode">
      <div *ngSwitchCase="'table'">
        <table>
          <thead>
            <tr>
              <th>Température (°C)</th>
              <th>Densité</th>
              <th>nuX</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tempData of sortedTemperatureData; trackBy: trackByIndex">
              <td>{{ tempData.temperature }}</td>
              <td>{{ tempData.density }}</td>
              <td>{{ tempData.poisson }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngSwitchCase="'lines'">
        <table>
          <thead>
            <tr>
              <th>Température (°C)</th>
              <th>Densité</th>
              <th>nuX</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span *ngFor="let temperature of sortedDataLinesDisplay.temperatures; trackBy: trackByIndex">{{ temperature }}, </span></td>
              <td><span *ngFor="let density of sortedDataLinesDisplay.densities; trackBy: trackByIndex">{{ density }}, </span></td>
              <td><span *ngFor="let poisson of sortedDataLinesDisplay.poissons; trackBy: trackByIndex">{{ poisson }}, </span></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngSwitchCase="'chart'">
        <app-density-chart [material]="material"></app-density-chart>
      </div>

      <div *ngSwitchDefault>
        <p>Mode d'affichage invalide</p>
      </div>
    </div>
  </div>

  <ng-template #noMaterial>
    <p *ngIf="selectedProgram && noMaterial">Pas encore de données pour cette pièce</p>
  </ng-template>
</div>
